p.subhead::first-letter {
      font-size: 2em;
      font-weight: bold;
      float: left;
      margin-right: 0.1em;
      line-height: 1;
    }
    nav ul {
      display: none;
      list-style-type: none;
      padding-left: 0;
    }
    nav ul.show {
      display: block;
    }
    nav {
      margin-bottom: 1em;
    }
    nav button {
      background: none;
      font-size: 1.2em;
      font-weight: bold;
      cursor: pointer;
      padding: 0;
      margin: 0;
      font-color: #333333;
    }
