* {
box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  background: #f6f6f6;
}

header {
  background: #333333;
  height: 100px;
}

header * {
  color: white;
}

header .logo {
  float: left;
  height: inherit;
  margin-left: 2em;
  border: 1px solid red;
}

header .logo-text {
  margin: 8px;
}

header ul {
  float: right;
}
